{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="new-post" action="/posts/new/{{ blog_id }}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
            <small id="titlelHelp" class="form-text text-muted">Give it a short title.</small>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea rows="15" type="text" class="form-control" id="content" name="content"></textarea>
        </div>

        <button type="submit" class="btn btn-secondary">Publish</button>
    </form>
</div>
{% endblock %}