{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="new-blog" action="/blogs/new" method="post">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input type="text" class="form-control" id="title" name="title">
            <small id="titlelHelp" class="form-text text-muted">Give it a short title.</small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
            <small id="titlelHelp" class="form-text text-muted">What kind of content will be found in the blog?</small>
        </div>

        <button type="submit" class="btn btn-secondary">Create Blog</button>
    </form>
</div>
{% endblock %}